header #nav {
  display: grid;
  grid-template-rows: auto auto auto; /* Three rows */
  grid-template-columns: 1fr; /* One column */
}

header .nav-banner {
  background-color: #ccc; /* Set the background color for the first child */
  padding: 0 10%; /* Adjust padding as needed */
  height: 38px;
}

header .nav-banner ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 8px;
}

header .nav-banner ul li {
  padding: 0 15px;
}

/* Middle row */
header .nav-sections,
header .nav-search,
header .nav-tools,
header .nav-cart,
header .nav-brand {
  grid-row: 2; /* Display in the middle row */
  grid-column: 1; /* Span across the entire column */
  background-color: var(--overlay-background-color);
}

header .nav-location {
  grid-row: 3; /* Display in the last row */
  grid-column: 1; /* Span across the entire column */
  height: 36px;
  width: 100%;
  display: flex;
  border: solid 1px #cfcfcf;
  background-color: #fff;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}
