.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}
.dotw{
  background-color: #01A0C0;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  margin-block: 1rem;
}
.dotw p{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap:  0.5rem;
  margin: 0 0 0.5rem;
}

.dotw p span{
  font-size: 16px;
}
.dotw .large-text{
  font-size: 32px;
}
.promo{
  border-bottom: 1px solid #f5f5f0;
  margin-bottom: 2rem;
  
}

.promo .button-container a{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.promo .button-container a::after {
  position: absolute;
  content: '';
  background-color: rgba(50,50,100,.5);
  height: 60%;
  right: 0;
  width: 1px;
}
.promo .button-container:last-child a::after{
  width: 0;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  .dotw{
    padding: 1rem;
    margin-block: 1rem;
  }
  .dotw p{
    margin: 1rem 0;
  }
  .dotw p span{
    font-size: 28px;
  }
  .dotw .large-text{
    font-size: 56px;
  }
  .promo > div {
    gap: 0;
  }
}
