main .hero {
  position: relative;
}

main .hero > a,
main .hero picture,
main .hero img {
  display: block;
}

main .hero .background-mobile {
  display: none;
}

main .hero .hero-overlay {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0% 2% 0 4%;
  width: 50%;
}

main .hero .hero-overlay p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

main .hero .hero-overlay p:first-child {
  font-size: 1.75rem;
  line-height: 1.21;
}

main .hero .hero-overlay p:last-child {
  font-size: 1.125rem;
  line-height: 1.33;
}

main .hero .hero-overlay strong {
  font-weight: 700;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

@media (max-width: 1023px) {
  main .hero .hero-overlay p,
  main .hero .hero-overlay p:first-child,
  main .hero .hero-overlay p:last-child {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main .hero .background-desktop {
    display: none;
  }

  main .hero .background-mobile {
    border-radius: 16px 16px 0 0;
    display: block;
    overflow: hidden;
  }

  main .hero .hero-overlay {
    position: static;
    background-color: #F5F5F0;
    border-radius: 0 0 16px 16px;
    text-align: left;
    width: 100%;
    margin-top: -3px;
    padding: 6%;
    height: unset;
  }

  main .hero .hero-overlay p {
    color: var(--link-color);
  }

  main .hero .hero-overlay p:first-child {
    font-size: 1.375rem;
  }

  main .hero .hero-overlay p:last-child {
    font-size: 1.125rem;
  }
}