.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns:not(.dotw, .promo) {
  display: none;
}

.columns>div>div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.dotw {
  background-color: #01A0C0;
  border-radius: 0.5rem;
  color: var(--overlay-font-color);
  padding: 1rem;
  margin: 2rem 0 4rem;
}

.columns.dotw p {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 0 0.5rem;
}

.columns.dotw p span {
  font-size: 16px;
}

.columns.dotw p strong {
  font-size: 32px;
}

.columns.promo .button-container {
  margin: auto;
  max-width: 500px;
}

.columns.promo .button-container a.button {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--link-color);
  background-color: unset;
  margin: 0 0;
  padding: 20px 0;
}

.columns.promo .button-container a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: var(--link-color);
  transform: scaleX(0);
}

.columns.promo .button-container a:hover::after {
  transform: scaleX(1);
  transition: 0.3s;
}

@media (min-width: 600px) {
  .columns:not(.dotw, .promo) {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
  }
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.dotw p {
    margin: 1rem 0;
  }

  .columns.dotw p span {
    font-size: 28px;
  }

  .columns.dotw p strong {
    font-size: 56px;
  }

  .columns.promo {
    border-bottom: 1px solid var(--highlight-background-color);
    margin-bottom: 2rem;
  }

  .columns.promo>div {
    gap: 0;
    justify-content: center;
  }

  .columns.promo .button-container {
    flex: 1;
  }

  .columns.promo .button-container:not(:last-child) a::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 60%;
    background: rgba(50 50 100 / 50%);
    right: 0;
  }
}
