.faq {
    margin: 20px 0;
}

.faq .faq-accordion {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 4px;
    border-bottom: 1px solid #e1e1e1;
}

.faq .faq-accordion:first-child {
    border-top: 1px solid #e1e1e1;
}

.faq .faq-question {
    display: block;
    padding: 13px 50px 13px 0;
    text-decoration: none;
    color: #284b9b;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    width: 95%;
}

.faq .faq-question:hover {
    text-decoration: underline;
}

.faq .faq-answer {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq .faq-answer a{
    text-decoration: underline;
}

.faq .faq-answer a:hover{
    color: white;
    background-color: #323264;
}

.faq .faq-question.active {
    color: #252426;
}

.faq .faq-question .icon {
    position: absolute;
    color: var(--text-color);
    min-width: 15px;
    right: 15px;
    top: 12px;
    z-index: 10;
    width: 24px;
    height: 24px;
    display: flex;
    transition: .3s;
  }

.faq .faq-question .icon svg {
    position: absolute;
    top: -6px;
    width: 24px;
    height: 24px;
    margin: auto;
}

.faq .faq-question.active .icon {
    transform: rotateX(180deg);
}
